<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="timerInMinutes" value="3" />
    <add key="localPostgresPath" value="C:\Program Files\PostgreSQL\10" />
    <add key="remotePostgresPath" value="Postgres\network\share" />
    <add key="postgresDatabase" value="PostgresDatabase" />
    <add key="postgresUsername" value="PostgresUser" />
    <add key="postgresPassword" value="PostgresUserPassword" />
    <add key="postgresServerPort" value="PostgresPort" />
    <add key="primaryServerIP" value="PrimaryServerAddress" />
    <add key="remoteServerIP" value="SecondaryServerAddress" />
    <add key="remoteServerUsername" value="SeconadryWindowsUser" />
    <add key="remoteServerPassword" value="SecondaryWindowsUserPassword" />
    <add key="saltoBackupsDirectory" value="SQLExpress\backup\directory" />
    <add key="sqlExpressPort" value="SQLEXPressPort" />
    <add key="sqlExpressDatabase" value="SQLExpressDatabse" />
    <add key="sqlExpressUsername" value="SQLExpressUserName" />
    <add key="sqlExpressPassword" value="SQLExpressUserPassword" />
  </appSettings>
</configuration>